:root {
    --background-color: #212121;
    --card-background-dark: #1A1A1A;
    --card-background-light: #333333;
    --font-color: #FFFFFF;
    --font-highlight: #45D4A7;
    --font-shaded: #676767;
}

