/* ! RIGHT SIDE MAIN CONTENT */

.content {
    width: 70%
}

.card {
    color: var(--font-color);
    background-color: var(--card-background-light);
    width: 100%;
    border-radius: 15px;
    margin-top: 25px;
    border: 0px;
}

.card:first-child {
    margin-top: 0px;
}

.card div {
    margin: 0
}

.hero {
    height: 350px;
    background-color: var(--card-background-dark);
}

.hero-card-body {
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-row-a {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.hero-weekday {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    border-radius: 27.5px;
    width: 55px;
}

.hero-weekday-active {
    background-color: var(--card-background-light);
}

.hero-week-date {
    font-size: 20px;
    padding-top: 5px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.hero-weekday div:first-child {
    padding-top: 0px;
}

.hero-row-b {
    height: 250px;
    width: 100%;
}

.hero-row-b img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}

.habit {
    height: 100px;
}

.habit:hover {
    cursor: default;
}

.card-body {
    display: flex;
    padding: 0;
    width: 100%;
}

.habit-col-a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
}

.habit-col-a span {
    align-self: center;
    margin: 5px;
    font-size: 4rem;
    color: var(--font-highlight);
}

.habit-col-b {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: 5% 5% 5% 0%;
}

.habit-col-b .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    font-size: 24px;
}

.habit-col-b .row:first-child {
    align-items: flex-end;
    margin-bottom: 5px;
}

.habit-col-b .row:last-child {
    margin-top: 5px;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 300;
}

.habit-col-b .row div {
    display: flex;
    align-items: center;
    text-align: start;
    width: 80%;
    margin-bottom: 0!important;
}

.habit-col-b .row:first-child>*:last-child {
    color: var(--font-highlight);
}

.habit-col-b .row>*:first-child * {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block;
}

.habit-col-b .row>*:last-child {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
