:root {
    --background-color: #212121;
    --card-background-dark: #1A1A1A;
    --card-background-light: #333333;
    --font-color: #FFFFFF;
    --font-highlight: #45D4A7;
    --font-shaded: #676767;
    --current-body-width: 50%;
    --current-body-margin: 25%;
}

* {
    font-family: 'Roboto', sans-serif;
    scrollbar-color: #454a4d #202324;
}

body {
    background-color: var(--background-color);
}

#root {
    height: 100%;
}

/* ! HEADER BAR */

header {
    color: var(--font-color);
    background-color: var(--card-background-dark);
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 22px;
}

header>div {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 15%;
    margin-left: 10%;
}

.header-logo img {
    width: 40px;
    border-radius: 50%;
}

.header-title {
    width: var(--current-body-width);
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.header-buttons {
    width: 15%;
    justify-content: end;
}

.header-buttons button {
    margin-right: 25px;
    color: var(--font-highlight);
    background-color: var(--card-background-dark);
}

.header-buttons button:last-child {
    margin: none;
}

/* ! MAIN CONTENT */

main {
    display: flex;
    width: var(--current-body-width);
    margin: 50px var(--current-body-margin) 0 var(--current-body-margin);
}

/* ! MENU BUTTON NAVBAR */

aside {
    width: 30%;
    padding: 5px;
    color: var(--font-shaded);
}

aside div div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 22px;
    height: max-content;
}

aside div div:hover {
    color: var(--font-color);
    cursor: pointer;
}

aside div div:first-child span {
    border-radius: 50%;
}

aside div div span {
    align-self: center;
    text-align: center;
    padding: 4px;
    margin-right: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

aside>p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

aside a {
    color: var(--font-shaded);
    text-decoration: none;
}

aside a:hover {
    color: var(--font-highlight)
}

.active {
    color: var(--font-highlight);
}


/* todo add media query that scrunches var(--current-body-width) and var(--current-body-margin) */
